<center>
    <h1>BIENVENUE DANS LA PHOTOTEQUE</h1>
</center>
<br />

<MudGrid Spacing="10" Justify="Justify.Center">
    <MudItem>
        <Card Trigramme="JGD" Name="Giroud Joshua" Poste="Consultant développeur" PhoneNumber="06.15.48.74.32." Mail="Consultant@consultants-solutec.fr" Libre=false />
    </MudItem>
    <MudItem>
        <Card Trigramme="JGD" Name="Giroud Joshua" Poste="Consultant développeur" PhoneNumber="06.15.48.74.32." Mail="Consultant@consultants-solutec.fr" Libre=false />
    </MudItem>
    <MudItem>
        <Card Trigramme="JGD" Name="Giroud Joshua" Poste="Consultant développeur" PhoneNumber="06.15.48.74.32." Mail="Consultant@consultants-solutec.fr" Libre=true />
    </MudItem>
    <MudItem>
        <Card Trigramme="JGD" Name="Giroud Joshua" Poste="Consultant développeur" PhoneNumber="06.15.48.74.32." Mail="Consultant@consultants-solutec.fr" Libre=false />
    </MudItem>
    <MudItem>
        <Card Trigramme="JGD" Name="Giroud Joshua" Poste="Consultant développeur" PhoneNumber="06.15.48.74.32." Mail="Consultant@consultants-solutec.fr" Libre=true />
    </MudItem>
    <MudItem>
        <Card Trigramme="JGD" Name="Giroud Joshua" Poste="Consultant développeur" PhoneNumber="06.15.48.74.32." Mail="Consultant@consultants-solutec.fr" Libre=true />
    </MudItem>
</MudGrid>
